@use "../../styles/variables" as *;

.hero {
  width: 100%;
  min-height: 650px;
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  // Background Image
  &__background {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    object-fit: cover;

    z-index: 1;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
  }

  // Main Container
  &__container {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    padding: 60px 24px;

    position: relative;
    z-index: 3;

    text-align: center;
  }

  // Hero Text
  &__content {
    color: $white;
    margin-bottom: 75px;

    h1 {
      font-size: 70px;
      font-weight: 500;

      margin-bottom: 25px;

      color: $white;
    }

    p {
      font-size: 25px;
      line-height: 1.4;

      color: $white;
    }
  }

  // Form Container
  &__form {
    max-width: 920px;
    margin: 0 auto;
  }

  // Input Group
  &__input-group {
    width: 100%;

    display: grid;

    grid-template-columns: 1fr 1fr 300px;
    background: $white;
  }

  // Inputs
  input {
    width: 100%;
    height: 74px;

    border: none;
    border-right: 1px solid #dddddd;

    padding: 0 25px;

    font-size: 16px;

    outline: none;

    &::placeholder {
      color: #667085;
    }
  }

  // Continue Button
  button {
    border: none;

    background-color: #54aabd;

    color: $white;

    font-size: 28px;

    cursor: pointer;

    transition: 0.3s ease;

    span {
      margin-left: 10px;
    }

    &:hover {
      background-color: #3d92a5;
    }
  }

  // Tablet
  @media (max-width: 900px) {
    min-height: 600px;

    &__content {
      margin-bottom: 50px;

      h1 {
        font-size: 55px;
      }

      p {
        font-size: 20px;
      }
    }

    &__input-group {
      grid-template-columns: 1fr 1fr;
    }

    button {
      grid-column: 1 / -1;

      height: 70px;
    }
  }

  // Mobile
  @media (max-width: 600px) {
    min-height: 650px;

    &__content {
      margin-bottom: 40px;

      h1 {
        font-size: 42px;
      }

      p {
        font-size: 17px;

        br {
          display: none;
        }
      }
    }

    &__input-group {
      grid-template-columns: 1fr;
    }

    input {
      border-right: none;
      border-bottom: 1px solid #dddddd;
    }

    button {
      grid-column: auto;
      height: 65px;
      font-size: 22px;
    }
  }
}
